{% extends 'sb_admin/sb_admin_base_no_sidebar.html' %}
{% load sb_admin_tags static %}

{% block main_wrapper %}
    {% get_item request.META 'HTTP_SEC_FETCH_SITE' as sec_fetch_site %}
    <div class="w-full h-full min-h-full{% if not sec_fetch_site or request.META.HTTP_SEC_FETCH_DEST == 'document' %} xl:pl-260{% endif %}">
        {% include 'sb_admin/navigation.html' %}

        {% if sbadmin_is_modal %}
            <div id="modal-content" class="modal-dialog">
                <div class="modal-content">
        {% endif %}

        <div id="content" class="relative flex flex-col{% if sbadmin_is_modal %} min-h-0 h-full{% else %} min-h-screen sm:p-24 {% block view_class %}{% endblock %}{% endif %}">
            {% if sbadmin_is_modal %}
                {# load media which are missing #}
                {{ media_json|json_script:"sb-admin-modal-media" }}
                <script src="{% static 'sb_admin/dist/modal_view.js' %}"></script>
            {% else %}
                {% include "sb_admin/includes/loading.html" %}
                {% include "sb_admin/includes/notifications.html" %}
            {% endif %}

            {% block content %}
            {% endblock %}
            {{ inner_content }}
        </div>

        {% if sbadmin_is_modal %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
