{% extends 'sb_admin/sb_admin_base_no_sidebar.html' %}

{% block main_wrapper %}
    <div class="w-full h-full min-h-full xl:pl-260">
        {% include 'sb_admin/navigation.html' %}
        <div class="min-h-screen sm:p-24 relative flex flex-col">
            {% include "sb_admin/includes/loading.html" %}
            {% include "sb_admin/includes/notifications.html" %}

            {% block content %}
            {% endblock %}
            {{ inner_content }}
        </div>
    </div>
{% endblock %}