[tool.poetry]
name = "django-smartbase-admin"
version = "0.2.2"
description = ""
authors = ["SmartBase <info@smartbase.sk>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
django = ">= 4.1, < 6.0"
django = "^5.0.3"
django-ckeditor = "^6.7.1"
django-admin-inline-paginator = "^0.4.0"
django-nested-admin = "^4.0.2"
xlsxwriter = "^3.2.0"
django-widget-tweaks = "^1.5.0"
django-filer = "^3.1.1"
easy-thumbnails = {extras = ["svg"], version = "^2.8.5"}


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api" 