[tool.poetry]
name = "django-smartbase-admin"
version = "0.2.66"
description = ""
authors = ["SmartBase <info@smartbase.sk>"]
readme = "README.md"
include = [
    "**/static/sb_admin/dist/**/*"
]

[tool.poetry.dependencies]
python = "^3.10"
django = ">= 4.1, < 6.0"
django-ckeditor = "^6.7.1"
django-admin-inline-paginator = "^0.4.0"
django-nested-admin = "^4.0.2"
xlsxwriter = "^3.2.0"
django-widget-tweaks = "^1.5.0"
django-filer = "^3.1.1"
easy-thumbnails = {extras = ["svg"], version = "^2.8.5"}
django-htmx = "^1.17.3"
# required for django-filer
setuptools = "^67.0.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api" 
