@layer components {
    .dropdown-menu {
        top: 100%;
        left: 0;
        @apply w-224 max-h-300;
        @apply bg-light;
        @apply text-14;
        @apply shadow rounded border border-dark-200;
        @apply absolute z-20 hidden;
        @apply flex-col;
        white-space: normal;
        > ul {
            @apply overflow-y-auto overflow-x-hidden custom-scrollbar;
            >li:not(:last-child) {
                .btn[data-bs-toggle="dropdown"] {
                    @apply rounded-b-none;
                }
            }
        }

        &:not(.show) {
            &.transition-width {
                @apply flex w-0;
            }

            &.transition-height {
                @apply flex h-0;
            }

            &.fade {
                @apply flex;
            }
        }

        &.show {
            @apply flex;
        }

        hr {
            @apply my-4;
            @apply border border-dark-200;
        }

        .btn[data-bs-toggle="dropdown"] {
            @apply border-0 rounded-t-none;
            @apply bg-transparent hover:bg-dark-100;
        }

        label.radio-dropdown-label {
            @apply px-8 mb-4;
            @apply text-12 font-normal;
            span {
                @apply hidden;
            }
        }
    }

    .dropdown-menu-link {
        @apply flex items-center;
        @apply py-12 px-16;
        @apply text-dark-700;
        white-space: nowrap;
        transition-property: color, background-color;
        transition-duration: .1s;
        transition-timing-function: ease-in;
        cursor: pointer;

        &:hover {
            @apply bg-dark-100 text-dark-900;
        }
        &:focus {
            @apply text-primary;
        }

        .loader,
        .loader:after {
            width: 20px;
            height: 20px;
        }
    }

    .btn[data-bs-toggle="dropdown"] {
        &:focus {
            @apply shadow-none;
        }
        svg:last-child:not(.no-rotate) {
            transition: transform .2s;
        }
        &.show {
            @apply bg-primary-50 text-primary border-primary;
            svg:last-child:not(.no-rotate) {
                @apply rotate-180;
            }
        }
    }

    .dropdown-menu-datepicker {
        @appy w-auto h-auto max-w-none max-h-none;
        .flatpickr-calendar {
            @apply -mx-12 shadow-none;
        }
    }
}