{% extends "sb_admin/authentification/login_base.html" %}
{% load i18n static sb_admin_tags %}

{% block content %}
    <div id="content-main">
        <h1 class="text-30 text-dark-900 font-bold font-heading line-clamp-1">{% trans 'Password reset' %}</h1>
        {% if validlink %}
            <h3 class="text-14">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</h3>
            <form method="post" id="login-form">{% csrf_token %}
                {% csrf_token %}
                <div class="my-16">
                    {% sb_admin_render_form_field form.new_password1 label_as_placeholder=True  %}
                    {{ form.new_password1.errors }}
                </div>
                <div class="my-16">
                    {% sb_admin_render_form_field form.new_password2 label_as_placeholder=True  %}
                    {{ form.new_password2.errors }}
                </div>
                <button type="submit" class="w-full btn btn-primary">{% translate 'Change my password' %}</button>
            </form>
        {% else %}
            <h3 class="text-14">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h3>
        {% endif %}
    </div>
{% endblock %}
