{% extends "sb_admin/authentification/login_base.html" %}
{% load i18n static sb_admin_tags %}

{% block content %}
    <div id="content-main">
        <h1 class="text-30 text-dark-900 font-bold font-heading line-clamp-1">{% trans 'Password reset' %}</h1>
        <h3 class="text-14 my-16">{% translate "Your password has been set.  You may go ahead and log in now." %}</h3>
        <a class="w-full btn btn-primary" href="{% url 'admin:index' %}">{% translate 'Log in' %}</a>
    </div>
{% endblock %}
