{% extends "sb_admin/authentification/login_base.html" %}
{% load i18n static sb_admin_tags %}

{% block content %}
    <div id="content-main">
        <h1 class="text-30 text-dark-900 font-bold font-heading line-clamp-1">{% trans 'Password reset' %}</h1>
        <h3 class="text-14 my-16">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</h3>
        <h3 class="text-14 my-16">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</h3>
    </div>
{% endblock %}
