{% load i18n %}

<div class="relative px-12 py-8 flex">
    {% if not all_filters_visible %}
        <button type="button"
                class="text-primary"
            onclick="window.SBAdminTable['{{ view_id }}'].moduleInstances.filterModule.hideFilter('{{ filter_field.filter_field }}')">
            {% trans 'Remove' %}
        </button>
    {% endif %}
        <button type="button"
                class="text-primary ml-auto"
                {% if view_id %}
                onclick="window.SBAdminTable['{{ view_id }}'].moduleInstances.filterModule.clearFilter('{{ filter_field.filter_field }}')"
                {% else %}
                onclick="window.SBAdmin.clearFilter('{{ filter_field.filter_widget.input_id }}')"
                {% endif %}
        >
            {% trans 'Clear' %}
        </button>
</div>
