{% load i18n %}
<div class="flex items-center gap-4 flex-shrink-0 related-item-buttons">
    {% if widget.attrs.related_edit_url or widget.attrs.related_add_url %}
        <a
                class="btn btn-icon edit-button {% if not widget.attrs.related_edit_url %}hidden{% endif %}"
                title="{% trans 'Edit' %}"
                {% if widget.attrs.related_edit_url %}
                    hx-get="{{ widget.attrs.related_edit_url }}?_popup=1&sbadmin_is_modal=1&sb_admin_source_field={{ widget.attrs.id }}{% if reload_on_save %}&sbadmin_reload_on_save=1{% endif %}"
                {% endif %}
                {% if widget.attrs.related_add_url and not widget.attrs.related_edit_url %}
                    data-add-url="{{ widget.attrs.related_add_url }}?_popup=1&sbadmin_is_modal=1&sb_admin_source_field={{ widget.attrs.id }}"
                {% endif %}
                data-bs-toggle="modal"
                data-bs-target="#sb-admin-modal"
                hx-target="#sb-admin-modal"
                hx-select="#modal-content"
                hx-swap="innerHTML">
            <svg class="w-20 h-20">
                <use xlink:href="#Edit"></use>
            </svg>
        </a>
    {% endif %}
    {% if widget.attrs.related_add_url %}
        <a
                class="btn btn-icon"
                title="{% trans 'Add' %}"
                data-bs-toggle="modal"
                data-bs-target="#sb-admin-modal"
                hx-get="{{ widget.attrs.related_add_url }}?_popup=1&sbadmin_is_modal=1&sb_admin_source_field={{ widget.attrs.id }}"
                hx-target="#sb-admin-modal"
                hx-select="#modal-content"
                hx-swap="innerHTML">
            <svg class="w-20 h-20">
                <use xlink:href="#Add-one"></use>
            </svg>
        </a>
    {% endif %}
</div>
