<div class="dropdown-menu dropdown-menu-datepicker"
     style="max-width: none; width: auto; height: auto; max-height: none;">
    <div class="px-12 py-8">
        <input
            type="hidden"
            autocomplete="off"
            id="{{ filter_widget.input_id }}"
            name="{{ filter_widget.input_name }}"
            form="{{ filter_widget.view_id }}-filter-form"
            {% if filter_widget.get_default_value %}value="{{ filter_widget.get_default_value }}"{% endif %}
            {% if not all_filters_visible %}disabled{% endif %}
        >
        <input type="text"
               class="input pl-10 js-datepicker-range"
               id="{{ filter_widget.input_id }}_picker"
               name="{{ filter_widget.input_name }}_picker"
               data-sbadmin-datepicker-real-input-id="{{ filter_widget.input_id }}"
               data-sbadmin-datepicker="{{ filter_widget.get_data }}"
               data-sbadmin-datepicker-shortcuts="{{ filter_widget.get_shortcuts_data }}">
    </div>
    {% include "sb_admin/filter_widgets/partials/clear.html" %}
</div>

