<div class="js-simple-multiselect-wrapper dropdown-menu">
    <input form="{{ filter_widget.view_id }}-filter-form"
               class="js-simple-multiselect"
               type="hidden"
                   id="{{ filter_widget.input_id }}" name="{{ filter_widget.input_name }}"
                   {% if not all_filters_visible %}disabled{% endif %}{% if filter_widget.get_default_value %}
                   value="{{ filter_widget.get_default_value }}"{% endif %}>
    <ul class="relative py-8">
        {% if filter_widget.enable_select_all %}
            <li>
                <div class="relative px-12 py-8">
                    <input type="checkbox"
                           value="{{ filter_widget.select_all_keyword }}"
                           name="{{ filter_widget.input_name }}_dummy"
                           class="checkbox js-simple-multiselect-all"
                           id="{{ filter_widget.input_id }}_all" {% if filter_widget.get_default_value == filter_widget.select_all_keyword %} checked{% endif %} data-label="{{ filter_widget.select_all_label }}">
                    <label for="{{ filter_widget.input_id }}_all">
                        {{ filter_widget.select_all_label }}
                    </label>
                </div>
            </li>
        {% endif %}
        {% for group_label, group_choices in filter_widget.grouped_choices %}
            {% if group_label %}
                <li class="px-12 pt-12 pb-4 text-12 font-medium uppercase">{{ group_label }}</li>
            {% endif %}
            {% for choice in group_choices %}
                <li>
                    <div class="relative px-12 py-8">
                        <input type="checkbox"
                               value="{{ choice.0 }}"
                               name="{{ filter_widget.input_name }}_dummy"
                               class="checkbox"
                               id="{{ filter_widget.input_id }}_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" {% if filter_widget.get_default_value == choice.0 %} checked{% endif %} data-label="{{ choice.1 }}">
                        <label for="{{ filter_widget.input_id }}_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
                            {{ choice.1|safe }}
                        </label>
                    </div>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
