{% load i18n %}

<div class="dropdown-menu">
    <div class="px-12 py-8 relative flex">
        <input form="{{ filter_widget.view_id }}-filter-form" type="hidden" class="input js-range"
               data-label-separator=" - "
               id="{{ filter_widget.input_id }}" name="{{ filter_widget.input_name }}"
               {% if not all_filters_visible %}disabled{% endif %}{% if filter_widget.get_default_value %} value="{{ filter_widget.get_default_value }}"{% endif %}>
        <input type="text" class="input mr-8"
               placeholder="{% trans 'From' %}"
               id="{{ filter_widget.input_id }}_from" name="{{ filter_widget.input_name }}_from"
               {% if filter_widget.get_default_value %} value="{{ filter_widget.get_default_value }}"{% endif %}>

        <input type="text" class="input"
               placeholder="{% trans 'To' %}"
               id="{{ filter_widget.input_id }}_to" name="{{ filter_widget.input_name }}_to"
               {% if filter_widget.get_default_value %} value="{{ filter_widget.get_default_value }}"{% endif %}>
    </div>
    {% include "sb_admin/filter_widgets/partials/clear.html" %}
</div>