<div class="dropdown-menu js-radio-choice-widget-wrapper">
    <ul class="relative">
        <input form="{{ filter_widget.view_id }}-filter-form" type="hidden"
                class="js-radio-choice-widget"
                   id="{{ filter_widget.input_id }}" name="{{ filter_widget.input_name }}"
                   {% if not all_filters_visible %}disabled{% endif %}{% if filter_widget.get_default_value %}
                   value="{{ filter_widget.get_default_value }}"{% endif %}>
        {% for choice in filter_widget.choices %}
            <li>
                <div class="relative">
                    <input onchange="document.getElementById('{{ filter_widget.input_id }}').value = event.target.value;document.getElementById('{{ filter_widget.input_id }}').dispatchEvent(new Event('change'))" type="radio" value="{{ choice.0 }}" name="{{ filter_widget.input_name }}_dummy" class="radio radio-list" id="{{ filter_widget.input_id }}_{{ choice.0 }}" {% if filter_widget.get_default_value == choice.0 %} checked{% endif %} data-label="{{ choice.1 }}">
                    <label for="{{ filter_widget.input_id }}_{{ choice.0 }}">
                        {{ choice.1|safe }}
                    </label>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include "sb_admin/filter_widgets/partials/clear.html" %}
</div>
