{% load i18n %}

<div id="{{ content_context.const.SELECTED_ROWS_KWARG_NAME }}_bar" class="table-selected-rows-bar fade">
    <div class="relative px-16">
        <input type="checkbox" class="checkbox" id="table-selected-rows-bar-select-all" name="table-selected-rows-bar-select-all">
        <label for="table-selected-rows-bar-select-all" class="!pl-20"></label>
    </div>
    <span id="{{ content_context.const.SELECTED_ROWS_KWARG_NAME }}_info" class="text-dark-900 whitespace-nowrap"></span>
    <div class="ml-auto flex gap-10">
        <button type="button"
                onclick="window.SBAdminTable['{{ view_id }}'].moduleInstances.selectionModule.selectAllData()"
                class="btn btn-empty btn-small">{% trans 'Select all' %}
        </button>
        <button type="button"
                onclick="window.SBAdminTable['{{ view_id }}'].moduleInstances.selectionModule.selectNoData()"
                class="btn btn-empty btn-small">{% trans 'Select none' %}
        </button>
        {% for key, list_selection_action_group in content_context.list_selection_actions.items %}
            {% if key %}
                <button
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-popper-placement="bottom"
                    class="btn btn-small">
                    <span>{{ key }}</span>
                    <svg class="w-16 h-16 ml-4">
                        <use xlink:href="#Down"></use>
                    </svg>
                </button>
                <div class="dropdown-menu w-248 max-h-432">
                    <ul>
                        {% for list_selection_action in list_selection_action_group %}
                            <li>
                                {{ list_selection_action.items }}
                                <a{% if list_selection_action.open_in_modal %}{% include 'sb_admin/actions/partials/open_modal_attrs.html' with action=list_selection_action %} hx-vals="js:{params: window.SBAdminTable['{{ view_id }}'].getAllUrlParams()}"
                                                                                                                                                                                {% else %}onclick="window.location.href='{{ list_selection_action.url }}' + window.SBAdminTable['{{ view_id }}'].getUrlParamsString()"{% endif %}
                                                                                                                                                                                class="dropdown-menu-link {{ list_selection_action.css_class|default_if_none:'' }}">{{ list_selection_action.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                {# no group #}
                {% for list_selection_action in list_selection_action_group %}
                    <button {% if list_selection_action.open_in_modal %}{% include 'sb_admin/actions/partials/open_modal_attrs.html' with action=list_selection_action %} hx-vals="js:{params: window.SBAdminTable['{{ view_id }}'].getAllUrlParams()}" {% else %}onclick="window.location.href='{{ list_selection_action.url }}' + window.SBAdminTable['{{ view_id }}'].getUrlParamsString()"{% endif %}
                                                                                                                                                                          class="btn btn-small {{ list_selection_action.css_class|default_if_none:'' }}">{{ list_selection_action.title }}
                    </button>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>