{% load sb_admin_tags i18n static %}

<div id="{{ view_id }}-tabulator-header" class="tabulator-custom-header">
    {% block table_header %}
        {% with 'filters-collapse-button' as filters_collapse_button_id %}
            {% get_item request.COOKIES filters_collapse_button_id as collapse_opened %}
            <div class="flex justify-between max-sm:flex-wrap py-16 md:p-16 md:gap-x-8 gap-y-12">
                {% include "sb_admin/config/view.html" with current_views=content_context.current_views %}
                {% block tabulator_custom_header_controls %}
                    <div class="flex items-center flex-shrink-0 gap-8 max-sm:px-16">
                        <button id="save-view-modal-button" type="button"
                                class="btn btn-tiny btn-primary btn-empty mr-8" data-bs-toggle="modal"
                                data-bs-target="#save-view-modal">
                            {% trans 'Save view' %}
                        </button>
                        <button
                            id="{{ filters_collapse_button_id }}"
                            type="button"
                            class="btn collapse-btn btn-icon js-save-state{% if not collapse_opened %} collapsed{% endif %}"
                            data-bs-toggle="collapse"
                            role="button"
                            aria-expanded="{% if collapse_opened %}true{% else %}false{% endif %}"
                            data-bs-target="#filters-collapse"
                            aria-controls="filters-collapse">
                            <svg class="w-16 h-16 md:mr-8">
                                <use xlink:href="#Find"></use>
                            </svg>
                            <span>{% trans 'Search and filter' %}</span>
                        </button>
                        {% include 'sb_admin/components/columns.html' %}
                    </div>
                {% endblock %}
            </div>

            <div id="filters-collapse" class="collapse border-t border-dark-200 max-sm:overflow-x-auto custom-scrollbar{% if collapse_opened %} show{% endif %}">
                {% include 'sb_admin/components/filters.html' with filters=content_context.filters %}
            </div>
        {% endwith %}
    {% endblock %}
    {% include 'sb_admin/actions/partials/selected_rows_actions.html' %}
</div>