{% load sb_admin_tags i18n static %}

<div id="{{ view_id }}-tabulator-header" class="tabulator-custom-header">
    {% block table_header %}
        <div class="border-b border-dark-200 flex justify-between max-sm:flex-wrap py-16 md:p-16 md:gap-x-8 gap-y-12">
            <ul class="saved-filters" role="tablist">
                <li role="presentation">
                    <button class="relative show active"
                            id="tab_quick_search"
                            data-bs-toggle="tab"
                            data-bs-target="#quick_search_content"
                            type="button" role="tab" aria-controls="quick_search_content"
                            aria-selected="true">
                        {% trans 'Quick Search' %}
                    </button>
                </li>

                <li role="presentation">
                    <button class="relative"
                            id="tab_saved_views"
                            data-bs-toggle="tab"
                            data-bs-target="#saved_views_content"
                            type="button" role="tab" aria-controls="saved_views_content"
                            aria-selected="false">
                        {% trans 'Saved Views' %}
                    </button>
                </li>

                <li role="presentation">
                    <button class="relative"
                            id="tab_advanced_filters"
                            data-bs-toggle="tab"
                            data-bs-target="#advanced_filters_content"
                            type="button" role="tab" aria-controls="advanced_filters_content"
                            aria-selected="false">
                        {% trans 'Advanced Filters' %}
                    </button>
                </li>

            </ul>
            {% include 'sb_admin/components/columns.html' %}
        </div>

        <div class="tab-pane fade active show" id="quick_search_content" role="tabpanel" aria-labelledby="tab_quick_search">
            <div class="py-12 px-16">
                <div class="max-xs:w-full sm:flex-1">
                    <input type="text"
                           name="{{ content_context.const.TABLE_PARAMS_FULL_TEXT_SEARCH }}"
                           class="input w-1/6"
                           form="{{ view_id }}-filter-form"
                           id="id_{{ content_context.const.TABLE_PARAMS_FULL_TEXT_SEARCH }}"
                           placeholder="{{ content_context.search_field_placeholder }}">
                    <button class="btn btn-primary">{% trans 'Search' %}</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="saved_views_content" role="tabpanel" aria-labelledby="tab_saved_views">
            {% with 'filters-collapse-button' as filters_collapse_button_id %}
                {% get_item request.COOKIES filters_collapse_button_id as collapse_opened %}
                <div class="flex justify-between max-sm:flex-wrap py-12 px-16 gap-y-12">
                    {% include "sb_admin/config/view.html" with current_views=content_context.current_views %}
                    {% block tabulator_custom_header_controls %}
                        <div class="flex items-center flex-shrink-0 gap-8 max-sm:px-16">
                            <button id="save-view-modal-button" type="button"
                                    class="btn btn-tiny btn-primary btn-empty mr-8" data-bs-toggle="modal"
                                    data-bs-target="#save-view-modal">
                                {% trans 'Save view' %}
                            </button>
                        </div>
                    {% endblock %}
                </div>
            {% endwith %}
        </div>
        <div class="tab-pane fade max-sm:overflow-x-auto custom-scrollbar" id="advanced_filters_content" role="tabpanel" aria-labelledby="tab_advanced_filters">
            {% include 'sb_admin/components/filters.html' with filters=content_context.filters %}
        </div>
    {% endblock %}
    {% include 'sb_admin/actions/partials/selected_rows_actions.html' %}
</div>