{% load sb_admin_tags %}

{% with autocomplete_data_id=filter_widget.input_id|add:"_data" %}
    <div class="relative">
        <div id="{{ filter_widget.input_id }}-wrapper">
            <button
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-offset="[0, 8]"
                data-bs-config='{"popperConfig":{"strategy":"fixed"}}'
                class="autocomplete-button !rounded btn px-10 font-normal w-full"
            >
                {% block autocomplete_button_text %}
                    <span id="{{ filter_widget.input_id }}-value"></span>
                    <svg class="ml-8">
                        <use xlink:href="#Down"></use>
                    </svg>
                {% endblock %}
            </button>
            <div class="dropdown-menu max-h-none w-248">
                <div class="px-12 pt-8">
                    <input
                        type="hidden"
                        form="{{ filter_widget.view_id }}-advanced-filter"
                        id="{{ filter_widget.input_id }}"
                        name="{{ filter_widget.input_name }}"
                    >
                    <select {% if filter_widget.multiselect %}multiple{% endif %} class="js-autocomplete"
                            data-autocomplete-data-id="{{ autocomplete_data_id }}">
                    </select>
                </div>
                <div class="pb-8"></div>
            </div>
        </div>
    </div>
    <div class="autocomplete-data-wrapper">
        {{ filter_widget|get_json_script:autocomplete_data_id }}
    </div>
{% endwith %}