@import "components/_button.css";
@import "components/_input.css";
@import "components/_dropdown.css";
@import "components/_toggle.css";
@import "components/_modal.css";
@import "components/_tooltip.css";
@import "components/_query-builder.css";

@layer components {
    .card {
        @apply bg-light sm:rounded border border-dark-200 p-20 md:p-24 max-xs:border-b-0 max-xs:py-32 min-w-0;
        >header {
            @apply flex items-center text-18 mb-24 font-semibold;
        }
    }
    .column-widget-columns {
        & > li {
            @apply relative px-12 py-8 flex items-center;
            .checkbox.checkbox-icon:not(:checked) + label {
                @media (pointer:fine) {
                    opacity: 0;
                }
            }
            &:hover {
                .checkbox.checkbox-icon + label {
                    opacity: 1;
                }
            }
        }
    }
    .tab-pane {
        &:not(.active) {
            @apply hidden;
        }
    }

    .collapse-btn,
    .collapse-horizontal-btn {
        @apply flex justify-between items-center;

        svg:last-child {
            transition: transform .2s;
        }

        &:not(.collapsed) {
            svg:last-child {
                @apply rotate-180;
            }
        }
    }

    .collapse-horizontal {
        max-width: 50rem;
        opacity: 1;
        transition: max-width .2s ease-in-out, opacity .3s ease-in .1s;

        &.collapsed {
            max-width: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-width .2s ease-in-out, opacity .2s ease-in;
        }
    }

    .bg-filter {
        @apply fixed left-0 top-0;
        @apply w-screen h-screen bg-dark-a/30;
        @apply opacity-0;
        z-index: -1;
        transition: opacity 0.3s ease-in-out, z-index 0s linear 0.3s;
    }

    .sidebar {
        @apply fixed top-0 left-0 h-full;
        @apply -translate-x-full;
        z-index: 51;
        overflow: hidden;

        &.active {
            @apply translate-x-0;

            + .bg-filter {
                transition: opacity 0.3s ease-in-out, z-index 0s linear 0s;
                opacity: 1;
                z-index: 50;
            }
        }

    }

    .sidebar-right {
        @apply right-0 translate-x-full;
        left: auto;
    }

    .menu-item {
        @apply rounded-lg text-dark-900;

        > div, a {
            @apply flex;
        }

        >a:hover {
            svg {
                @apply text-primary;
            }
        }

        span {
            @apply leading-20 inline-block;
            &:first-letter {
                @apply capitalize;
            }
        }


        svg {
            @apply text-dark;
        }


        .collapse-btn {
             > a {
                width: calc(100% - 2.25rem);
            }
            &:hover {
                @apply text-primary;
            }
            &:not(.collapsed) {
                > a {
                    @apply font-semibold;
                }

                > a > svg {
                    @apply text-primary;
                }
            }
        }

        &.active {
            @apply text-primary font-semibold bg-light;

            svg {
                @apply text-primary;
            }
        }
    }

    .key {
        @apply inline-flex relative text-12 border border-dark-300 rounded px-6 mb-2;
        &::after {
            content: '';
            @apply absolute flex-center border border-dark-300 rounded;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: calc(-1px - 0.125rem);
        }
    }

    .badge {
        @apply inline-flex items-center rounded-full;
        @apply bg-notice-100 text-notice-700;
        @apply text-12 font-medium leading-16;
        @apply py-2 px-8;
        &:before {
            content: '';
            @apply w-4 h-4 mr-4;
            @apply bg-current rounded-full;
        }
        &-large {
            @apply py-4 px-10;
            &:before {
                @apply w-6 h-6 mr-8;
            }
        }
        &-simple {
            &:before {
                @apply hidden;
            }
        }
        &-positive {
            @apply text-success-700 bg-success-100;
        }
        &-warning {
            @apply text-warning-700 bg-warning-100;
        }
        &-negative {
            @apply text-negative-700 bg-negative-100;
        }
        &-neutral {
            @apply text-dark-600 bg-dark-200;
        }
        &-primary {
            @apply text-primary-700 bg-primary-100;
        }
    }

    .nav-tabs {
        @apply flex gap-8;
        overflow-x: auto;
        @apply border-b border-dark-200;

        .tab-link {
            @apply block;
            @apply pt-16 px-16;
            padding-bottom: calc(1rem - 3px);
            border-bottom: 3px solid transparent;
            transition-property: color, border;
            transition-duration: .15s;
            transition-timing-function: ease-in;
            white-space: nowrap;

            &:hover {
                @apply border-dark-200;
            }

            &.active {
                @apply text-primary border-primary
            }
        }
    }

    .saved-filters {
        @apply flex gap-8;
        @apply text-14 text-dark-600 font-medium;
        > li {
            button {
                @apply flex items-center;
                @apply h-40 px-16 py-8 rounded cursor-pointer;
                @apply transition-colors;

                &:not(:disabled) {
                    &:hover {
                        @apply bg-dark-100;
                    }
                    &.active {
                        @apply text-primary-600 bg-primary-100;
                    }
                }

                &:disabled {
                    opacity: 0;
                }

                &.changed span:after {
                    content: '*';
                    padding-left: 2px;
                }
            }
        }
    }

    .alert {
        @apply rounded-lg p-16 text-14;
    }

    #save-view-modal-button {
        &:disabled {
            @apply hidden;
        }
    }

    #filters-collapse-button {
        &:not(.collapsed) {
            @apply bg-dark-200 shadow-none;
        }
    }

    .django-ckeditor-widget {
        display: block !important;
        flex: 1;
        >.cke {
            @apply shadow-xs rounded;
            width: auto !important;
            >.cke_inner {
                @apply rounded;
                >.cke_top {
                    @apply rounded-t;
                }
                >.cke_bottom {
                    @apply rounded-b;
                }
            }
        }
        >textarea:read-only {
            + .cke {
                @apply h-full;
                >.cke_inner {
                    @apply h-full;
                    >.cke_top,
                    >.cke_bottom {
                        @apply hidden;
                    }
                    >.cke_contents {
                        @apply !h-full rounded;
                        >.cke_wysiwyg_frame {
                            @apply bg-dark-50;
                        }
                    }
                }
            }
        }
    }

    .errorlist {
        @apply text-12 leading-16 mt-8 text-negative;
    }

    .filter-dropdown-button {
        @apply btn btn-small rounded-full relative;
        >svg:not(:last-child) {
            @apply absolute right-12 top-1/2 -translate-y-1/2 transition-colors;
            @apply text-dark hover:text-dark-900;
        }
        >svg:last-child {
            @apply invisible;
        }
        &.show {
            >svg:not(:last-child) {
                @apply text-primary;
            }
        }
        &.empty {
            @apply bg-dark-100 shadow-none;
            >svg:last-child {
                @apply visible;
            }
            >svg:not(:last-child) {
                @apply hidden;
            }
        }
    }
    .filter-wrapper > .btn.empty {
        >svg:not(:last-child) {
            @apply hidden;
        }
    }

    .table-selected-rows-bar {
        @apply flex items-center h-48 pr-16 py-8;
        @apply bg-light;
        @apply absolute top-full right-0 left-0;
        margin-top: 1px;
        overflow-x: auto;
        &.show {
            z-index: 1;
        }
    }

    .copy-translations-button-wrapper {
        @apply absolute right-full top-0 flex items-center pt-26 mr-12 z-1;
    }
    .django-ckeditor-widget + .copy-translations-button-wrapper {
        @apply bottom-0 h-full;
    }
    .detail-view-action-bar {
        &:before {
            content: '';
            @apply block h-72;
        }
        >div {
            @apply fixed bottom-0 left-0 xl:left-260 right-0 flex items-center bg-light px-24 py-16 shadow-nav z-1;
        }
    }
    .translations-status-fieldset {
        @apply relative;
        >header {
            @apply h-32;
        }
        .translation-status-row:last-child {
            @apply mb-0;
        }
        &:has(.is-empty) {
            display: none;
        }
    }

    .purchase-process-steps {
        @apply flex items-start py-32 text-center flex-wrap;
        >li {
            @apply flex-1 text-center relative p-8 min-w-128 max-w-128;
            &:before {
                content: '';
                @apply block w-full border-b border-dark-200;
                @apply absolute left-0 right-0 top-32;
            }
            &:first-child{
                &:before {
                    @apply w-1/2 left-auto;
                }
            }
            &:last-child {
                &:before {
                    @apply w-1/2 right-auto;
                }
            }
            >span {
                @apply w-48 h-48;
                @apply flex-center rounded-full mx-auto relative;
                @apply bg-primary text-light border-8 border-dark-100;
            }
            >p {
                @apply mt-8 text-14;
            }
            &.active {
                ~ li {
                    > span {
                        @apply bg-dark-200 text-dark;
                    }
                }
            }
        }
    }

    .mermaid {
        &:not([data-processed="true"]) {
            @apply hidden;
        }
        .cluster {
            text {
                fill: theme('colors.dark.900') !important;
            }
            rect {
                fill: theme('colors.light') !important;
                stroke: theme('colors.dark.200') !important;
            }
        }
        .label {
            color: theme('colors.dark.900') !important;
        }
        .node {
            rect, circle, ellipse, polygon {
                fill: theme('colors.primary.100') !important;
                stroke: theme('colors.primary.200') !important;
            }
        }
        .mermaid_purchase_active {
            rect {
                fill: theme('colors.primary.DEFAULT') !important;
                stroke: theme('colors.primary.700') !important;
            }
            .label {
                @apply !text-light;
            }
        }
    }

    .cms-pagetree-section {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .page-loading {
        display: none;
       &.htmx-request {
            display: block;
       }
      .loader,
      .loader:after {
        border-radius: 50%;
        width: 42px;
        height: 42px;
      }
      .loader {
        @apply border-primary;
        @apply border-l-dark-300;
        transform: translateZ(0);
        border-width: 4px;
        font-size: 10px;
        text-indent: -9999em;
        animation: loading 1.1s infinite linear;
      }
      @keyframes loading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    }

    .read-only-password-hash {
        a {
            @apply text-primary;
        }
    }

    .dropdown-btn {
        &.show {
            @apply bg-dark-200;
        }
    }

    .dropdown-menu {
        @apply py-0;
    }
}
