.flatpickr-calendar {
    background: transparent;
    opacity: 0;
    display: none;
    text-align: center;
    visibility: hidden;
    padding: 0;
    animation: none;
    direction: ltr;
    border: 0;
    position: absolute;
    width: 272px;
    box-sizing: border-box;
    touch-action: manipulation;
    @apply shadow bg-light rounded;
}

.flatpickr-calendar.open,
.flatpickr-calendar.inline {
    opacity: 1;
    max-height: 640px;
    visibility: visible;
}

.flatpickr-calendar.open {
    display: inline-block;
    z-index: 99999;
}

.flatpickr-calendar.animate.open {
    /*animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);*/
}

.flatpickr-calendar.inline {
    display: block;
    position: relative;
    top: 2px;
}

.flatpickr-calendar.static {
    position: absolute;
    top: calc(100% + 2px);
}

.flatpickr-calendar.static.open {
    z-index: 999;
    display: block;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
    box-shadow: none !important;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
    box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}

.flatpickr-calendar .hasWeeks .dayContainer,
.flatpickr-calendar .hasTime .dayContainer {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.flatpickr-calendar .hasWeeks .dayContainer {
    border-left: 0;
}

.flatpickr-calendar.hasTime:not(.noCalendar) .flatpickr-time {
    @apply pt-0;
}

.flatpickr-calendar.noCalendar.hasTime {
     width: 200px;
    .flatpickr-time {
        height: auto;
        border: 0;
    }
}

.flatpickr-calendar:focus {
    outline: 0;
}

.flatpickr-wrapper {
    position: relative;
    display: inline-block;
}

.flatpickr-months {
    @apply flex px-12 py-8 text-dark-900 mt-4;
}

.flatpickr-months .flatpickr-month {
    @apply w-full relative flex justify-center;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    cursor: pointer;
    font-size: 0;
    >svg {
        @apply transition-colors;
    }
}

.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
    display: none;
}

.flatpickr-months .flatpickr-prev-month i,
.flatpickr-months .flatpickr-next-month i {
    position: relative;
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
    @apply text-primary;
}

.numInputWrapper {
    position: relative;
    height: auto;
    @apply transition-colors;
    @apply pl-4 rounded border border-dark-200;
}

.numInputWrapper input,
.numInputWrapper span {
    display: inline-block;
}

.numInputWrapper input {
    width: 100%;
}

.numInputWrapper input::-ms-clear {
    display: none;
}

.numInputWrapper input::-webkit-outer-spin-button,
.numInputWrapper input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.numInputWrapper span {
    position: absolute;
    right: 0;
    width: 17px;
    padding: 0 4px 0 3px;
    height: calc(50% + 1px);
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
    @apply transition-opacity;
    @apply border border-dark-400 bg-light;
}

.numInputWrapper span:hover {
    @apply bg-dark-100;
}

.numInputWrapper span:active {
    @apply bg-dark-200;
}

.numInputWrapper span:after {
    display: block;
    content: "";
    position: absolute;
}

.numInputWrapper span.arrowUp {
    top: 0;
    border-bottom: 0;
    @apply rounded-tr;
}

.numInputWrapper span.arrowUp:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid theme('colors.dark.900');
    bottom: 40%;
}

.numInputWrapper span.arrowDown {
    bottom: 0;
    @apply rounded-br;
}

.numInputWrapper span.arrowDown:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid theme('colors.dark.900');
    top: calc(40% - 1px);
}

.numInputWrapper span svg {
    width: inherit;
    height: auto;
}

.numInputWrapper:hover {
    @apply border-dark-400;
}

.numInputWrapper:hover span {
    opacity: 1;
}

.flatpickr-current-month {
    transform: translate3d(0px, 0px, 0px);
    @apply text-16 leading-24 text-dark-900 font-semibold flex justify-center gap-4 cursor-pointer transition-colors hover:text-primary;
}

.flatpickr-current-month span.cur-month {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    margin-left: 0.5ch;
    padding: 0;
}

.flatpickr-current-month span.cur-month:hover {
    @apply bg-primary-100;
}

.flatpickr-current-month .numInputWrapper {
    width: 6ch;
    width: 7ch \0;
    display: inline-block;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: rgba(0, 0, 0, 0.9);
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: rgba(0, 0, 0, 0.9);
}

.flatpickr-current-month input.cur-year {
    background: transparent;
    color: inherit;
    cursor: text;
    margin: 0;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    height: auto;
    border: 0;
    border-radius: 0;
    vertical-align: initial;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.flatpickr-current-month input.cur-year:focus {
    outline: 0;
}

.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    pointer-events: none;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    background-color: transparent;
    border-radius: 0;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    height: auto;
    line-height: inherit;
    outline: none;
    position: relative;
    vertical-align: initial;
    width: auto;
    appearance: menulist-button;
    @apply transition-colors;
    @apply text-dark-900 text-16 leading-24 font-semibold px-4 rounded border border-dark-200;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:focus,
.flatpickr-current-month .flatpickr-monthDropdown-months:active {
    outline: none;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    @apply border-dark-400;
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    @apply bg-light;
    outline: none;
    padding: 0;
}

.flatpickr-weekdays {
    background: transparent;
    text-align: center;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
    display: flex;
    flex: 1;
    @apply py-8;
}

span.flatpickr-weekday {
    cursor: default;
    background: transparent;
    margin: 0;
    text-align: center;
    display: block;
    flex: 1;
}

.dayContainer,
.flatpickr-weeks {
    padding: 1px 0 0 0;
}

.flatpickr-days {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.flatpickr-days:focus {
    outline: 0;
}

.dayContainer {
    @apply w-full gap-4 h-full;
    outline: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}

.dayContainer + .dayContainer {
    -webkit-box-shadow: -1px 0 0 #e6e6e6;
    box-shadow: -1px 0 0 #e6e6e6;
}

.flatpickr-day {
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 400;
    margin: 0;
    position: relative;
    @apply text-dark-900 w-32 h-32 flex-center rounded;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    cursor: pointer;
    outline: 0;
    background: theme('colors.primary.100');
    border-color: theme('colors.primary.100');
}

.flatpickr-day.today {
    @apply text-primary font-semibold;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
    border-color: theme('colors.primary.DEFAULT');
    background: theme('colors.primary.DEFAULT');
    color: theme('colors.light');
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: theme('colors.primary.DEFAULT');
    box-shadow: none;
    color: theme('colors.light');
    border-color: theme('colors.primary.DEFAULT');
}

.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
    border-radius: 50px 0 0 50px;
}

.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
    border-radius: 0 50px 50px 0;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    box-shadow: -10px 0 0 theme('colors.primary.DEFAULT');
}

.flatpickr-day.selected.startRange.endRange,
.flatpickr-day.startRange.startRange.endRange,
.flatpickr-day.endRange.startRange.endRange {
    border-radius: 50px;
}

.flatpickr-day.inRange {
    border-radius: 0;
    box-shadow: -5px 0 0 theme('colors.primary.100'), 5px 0 0 theme('colors.primary.100');
    @apply text-primary-700;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
    @apply text-dark;
    background: transparent;
    border-color: transparent;
    cursor: default;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
    cursor: not-allowed;
    color: rgba(57, 57, 57, 0.1);
}

.flatpickr-day.week.selected {
    border-radius: 0;
    -webkit-box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
    box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
}

.flatpickr-day.hidden {
    visibility: hidden;
}

.flatpickr-day.flatpickr-month {
    @apply w-80 h-56;
}

.flatpickr-day.flatpickr-year {
    @apply w-full h-48;
    margin-top: 0 !important;
}

.rangeMode .flatpickr-day {
    margin-top: 1px;
}

.flatpickr-weekwrapper {
    float: left;
}

.flatpickr-weekwrapper .flatpickr-weeks {
    padding: 0 12px;
    -webkit-box-shadow: 1px 0 0 #e6e6e6;
    box-shadow: 1px 0 0 #e6e6e6;
}

.flatpickr-weekwrapper .flatpickr-weekday {
    float: none;
    width: 100%;
    line-height: 28px;
}

.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
    display: block;
    width: 100%;
    max-width: none;
    color: rgba(57, 57, 57, 0.3);
    background: transparent;
    cursor: default;
    border: none;
}

.flatpickr-innerContainer {
    display: flex;
    overflow: hidden;
    @apply px-12 py-8;
    @apply text-12 leading-16;
    height: 17rem;
}

.flatpickr-rContainer {
    display: inline-block;
    padding: 0;
}

.flatpickr-time {
    @apply p-12 flex items-center;
}

.flatpickr-time .numInputWrapper {
    border: none;
    padding: 0;
    @apply flex;
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
    border-bottom-color: #393939;
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
    border-top-color: #393939;
}

.flatpickr-time.hasSeconds .numInputWrapper {
    width: 26%;
}

.flatpickr-time.time24hr .numInputWrapper {
    @apply w-1/2;
}

.flatpickr-time input {
    @apply input;
}

.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
    height: inherit;
    float: left;
    line-height: inherit;
    font-weight: bold;
    user-select: none;
    @apply flex-center w-16;
}

.flatpickr-time .flatpickr-am-pm {
    outline: 0;
    width: 18%;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
}

.flatpickr-input[readonly] {
    cursor: pointer;
}

@-webkit-keyframes fpFadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fpFadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.flatpickr-shortcuts {
    @apply pt-4 mb-16;

    input[type="radio"] {
        @apply hidden;
    }
    & > label {
        @apply p-0;
    }
}

.flatpickr-footer {
    @apply pb-4 text-left;
}

.flatpickr-custom-events-overlay {
    @apply absolute inset-0 cursor-pointer;
}

.flatpickr-custom-views-wrapper {
    @apply relative z-10;
}

.flatpickr-custom-months-view,
.flatpickr-custom-years-view {
    @apply absolute left-0 right-0 w-full;
    @apply bg-light;
}

.flatpickr-back {
    @apply inline-block;
    @apply absolute top-full right-0;
    @apply text-primary text-14;
    @apply px-12 py-8;
    @apply cursor-pointer;
}

.js-timepicker {
    @apply max-w-64;
}
