:root {
    --fc-small-font-size: .75rem;
    --fc-border-color: var(--color-dark-200);
    --fc-today-bg-color: var(--color-primary-50);
    --fc-neutral-bg-color: var(--color-bg-elevated);
}

.fc-theme-standard {
    th.fc-col-header-cell {
        @apply px-24 py-8;
        @apply bg-bg;
    }
    td.fc-daygrid-day {
        @apply p-8;
    }
}

.fc {
    table {
        @apply text-12;
    }
    .fc-col-header-cell-cushion {
        @apply p-0;
        @apply text-14 font-medium;
    }

    .fc-daygrid-day {
        height: 9rem;
    }

    .fc-day-other {
        @apply bg-bg;
        .fc-daygrid-day-top {
            opacity: 1;
            .fc-daygrid-day-number {
                @apply text-dark;
            }
        }
        .fc-daygrid-day-events {
            opacity: 0.6;
        }
    }

    .fc-daygrid-day-frame,
    .fc-daygrid-day-events,
    .fc-daygrid-event-harness,
    .fc-daygrid-day-bottom {
        &:before,
        &:after {
            @apply hidden;
        }
    }

    .fc-daygrid-day-frame {
        @apply flex flex-col gap-4;
    }
    .fc-daygrid-day-events {
        @apply m-0 flex flex-col gap-4;
    }
    .fc-daygrid-day-top {
        @apply flex-row;
    }
    .fc-daygrid-day-number {
        @apply w-24 h-24 flex justify-center items-center leading-none font-semibold text-dark-900 p-4;
    }
    .fc-day-today {
        .fc-daygrid-day-number {
            @apply bg-primary rounded-full text-light;
        }
    }
    .fc-daygrid-event {
        @apply !m-0 flex gap-4;
    }
    .fc-daygrid-dot-event {
        @apply px-8 py-0 border border-dark-200 rounded h-24;
        .fc-event-time {
            @apply hidden;
        }
        .fc-event-title {
            @apply font-normal text-dark-900 text-ellipsis leading-16;
        }
    }
    .fc-daygrid-event-dot {
        box-sizing: border-box;
        @apply w-12 h-12 m-0 shrink-0;
        @apply rounded-full border-2 border-current;
    }

    .fc-daygrid-day-bottom {
        @apply text-12 !m-0;
    }

    .fc-daygrid-more-link {
        @apply m-0 p-0;
        &:hover {
            background: none;
        }
    }

    .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
        min-height: 4rem;
        @apply mb-0;
    }

    .fc-daygrid-day-bg {
        @apply hidden;
    }

    .fc-popover {
        z-index: 10;
        .fc-popover-header {
            @apply p-4;
        }
        .fc-popover-title {
            @apply text-14;
        }
        .fc-popover-body {
            @apply p-8 flex flex-col gap-4;
        }
    }

    .fc-scrollgrid {
        border-left-width: 0;
    }
    .fc-scrollgrid-section {
        >th,>td {
            border: 0;
        }
    }
}