@import "_tailwind_base.css";

@import "_tabulator.css";
@import "_datepicker.css";
@import "_nouislider.css";
@import "_inlines.css";

@import "_base.css";
@import "_components.css";
@import "_utilities.css";

@import "_choices.css";
@import "_filer.css";

.js-ready {
    .sidebar,
    [class*=":sidebar"]{
         @apply transition-transform duration-300 ease-in-out;
    }
}

.clr-field {
    width: 100%;

    > button {
        z-index: 1 !important;
        right: auto !important;
        left: 4px !important;
        top: 4px !important;
        bottom: 4px !important;
        height: auto !important;
        transform: none !important;
        @apply !rounded;

        + input {
            @apply !pl-40;
        }
    }
}
