{% extends "sb_admin/actions/list.html" %}
{% load static sb_admin_tags %}
{% block tabulator_custom_header %}
    {% include content_context.tabulator_header_template_name %}
{% endblock %}
{% block tabulator_body %}
    {% with view_id|add:'_tree' as tree_id %}
        <div>
            {% include "sb_admin/widgets/tree_base.html" with tree_main_column_name=list_title tree_reorder_url=content_context.tabulator_definition.treeReorderUrl tree_additional_columns=additional_columns tree_component_id=tree_id tree_data_url=tree_json_url tree_detail_url=content_context.tabulator_definition.tableDetailUrl hide_tree_search=True search_wrapper_classes="py-16 md:p-16" %}
        </div>
    {% endwith %}
    <div class="hidden">
        {{ block.super }}
    </div>
{% endblock %}
{% block tabulator_custom_footer %}
{% endblock %}
