{% extends "sb_admin/dashboard/widget_base.html" %}
{% load sb_admin_tags %}

{% block content_inner %}
    <div id="{{ widget_id }}" class="card p-16 col-span-12">
        <div class="mt-16">
            <div class="flex flex-wrap -m-8 mb-16">
                {% for sub_widget in sub_widgets %}
                    <div class="w-1/2 md:w-1/4 p-8">
                        {% render_widget sub_widget request %}
                    </div>
                {% endfor %}
            </div>
            <canvas id="{{ widget_id }}-chart"></canvas>
            {{ initial_data|get_json_script:'initial_data' }}
            <script>
                (function() {
                    window.SBAdminChart = window.SBAdminChart || {};
                    window.SBAdminChart["{{ widget_id }}"] = new window.SBAdminChartClass({
                        "formId": "{{ filter_form_id }}",
                        {% if parent_widget_id %}
                        "parentWidgetId": "{{ parent_widget_id }}",
                        {% else %}
                        "ajaxUrl": "{{ ajax_url }}",
                        {% endif %}
                        "widgetId": "{{ widget_id }}",
                        "chartType": "{{ chart_type }}",
                        "chartOptions": {
                            scales: {
                                x: {
                                    ticks: {
                                        font: {
                                            weight: 600,
                                        }
                                    }
                                },
                                y: {
                                    ticks: {
                                        font: {
                                            weight: 600,
                                        }
                                    }
                                }
                            }
                        }
                    });
                })();
            </script>
        </div>
    </div>
{% endblock %}
