<div class="w-full p-32 flex gap-8">
    <button class="btn">
        <svg class="mr-8">
            <use xlink:href="#Download"></use>
        </svg>
        <span>
                    Download report
                </span>
        <svg class="ml-8">
            <use xlink:href="#Right-small"></use>
        </svg>
    </button>
    <button class="btn btn-small">
        <svg class="mr-8">
            <use xlink:href="#Download"></use>
        </svg>
        <span>
                    Download report
                </span>
        <svg class="ml-8">
            <use xlink:href="#Right-small"></use>
        </svg>
    </button>
    <button class="btn btn-tiny">
        <svg class="mr-8">
            <use xlink:href="#Download"></use>
        </svg>
        <span>
                    Download report
                </span>
        <svg class="ml-8">
            <use xlink:href="#Right-small"></use>
        </svg>
    </button>
    <button class="btn p-0 w-40">
        <svg>
            <use xlink:href="#Download"></use>
        </svg>
    </button>
    <button class="btn btn-primary">
        <svg class="mr-8">
            <use xlink:href="#Download"></use>
        </svg>
        <span>
                    Download report
                </span>
        <svg class="ml-8">
            <use xlink:href="#Right-small"></use>
        </svg>
    </button>
    <button class="btn btn-secondary">
        <svg class="mr-8">
            <use xlink:href="#Download"></use>
        </svg>
        <span>
                    Download report
                </span>
        <svg class="ml-8">
            <use xlink:href="#Right-small"></use>
        </svg>
    </button>
    <button class="btn">
        <svg class="mr-8">
            <use xlink:href="#Download"></use>
        </svg>
        <span>
                    Download report
                </span>
        <svg class="ml-8">
            <use xlink:href="#Right-small"></use>
        </svg>
    </button>
</div>