{% load sb_admin_tags i18n %}
{% with autocomplete_data_id=filter_widget.view_id|add:"-"|add:filter_widget.input_id|add:"_data" %}
    <div class="relative">
        {% include 'sb_admin/widgets/includes/field_label.html' %}
        <div id="{{ widget.attrs.id }}-wrapper" class="relative">

            <button
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-offset="[0, 8]"
                    data-bs-config='{"popperConfig":{"strategy":"fixed"}}'
                    class="autocomplete-button btn px-10 font-normal w-full"
            >
                {% block autocomplete_button_text %}
                    <span id="{{ widget.attrs.id }}-value">{{ widget.form_field.empty_label }}</span>
                    <svg class="ml-8">
                        <use xlink:href="#Down"></use>
                    </svg>
                {% endblock %}
            </button>
            {% include 'sb_admin/widgets/includes/related_item_buttons.html' %}
            <div class="dropdown-menu max-h-none w-248">
                <div class="px-12 pt-8">
                    {% include 'sb_admin/widgets/input.html' %}
                    <select {% if filter_widget.multiselect %}multiple{% endif %} class="js-autocomplete"
                            data-autocomplete-data-id="{{ autocomplete_data_id }}">
                    </select>
                </div>
                {% if filter_widget.allow_add %}
                    <div class="relative p-12 flex border-dark-200 border-t hidden">
                        <button type="button"
                                class="text-primary text-left w-full js-add-new-button">
                            <svg class="mr-8 w-20 h-20">
                                <use xlink:href="#Add-one"></use>
                            </svg>
                            <span>{% trans 'Add' %} '<span class="js-add-item-label"></span>'</span>
                        </button>
                    </div>
                {% endif %}
                {% if widget.form_field.required %}
                    <div class="pb-8"></div>
                {% else %}
                    {% if not filter_widget.hide_clear_button %}
                        <div class="relative px-12 py-8 flex">
                            <button type="button"
                                    class="text-primary js-clear-autocomplete">
                                {% trans 'Clear' %}
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="autocomplete-data-wrapper">
        {{ filter_widget|get_json_script:autocomplete_data_id }}
    </div>
    {% include 'sb_admin/widgets/includes/help_text.html' %}

    <script>
        document.body.addEventListener('sbadmin:modal-change-form-response', function (event) {
            const {field, id, label} = event.detail;
            const selectEl = document.querySelector(`select.js-autocomplete[data-autocomplete-data-id="${field}_data"]`);
            selectEl.dispatchEvent(new CustomEvent('selectItem', {
                detail: {value: id, label: label},
            }));
            document.getElementById(`${field}-value`).textContent = label;
        });
    </script>
{% endwith %}
