{% load i18n %}

<div class="relative">
    {% include 'sb_admin/widgets/includes/field_label.html' %}
    <div id="{{ widget.attrs.id }}-wrapper">
        <button
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-offset="[0, 8]"
                class="btn px-10 font-normal w-full"
        >
            <span id="{{ widget.attrs.id }}-value">{{ widget.form_field.empty_label }}</span>
            <svg class="ml-8">
                <use xlink:href="#Down"></use>
            </svg>
        </button>
        <div id="{{ widget.attrs.id }}-dropdown" class="dropdown-menu">
            <ul class="relative py-8">
                {% for group, options, index in widget.optgroups %}
                    {% for option in options %}
                        <li>
                            <div class="relative px-12 py-8">
                                {% include option.template_name with widget=option %}
                            </div>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% if not widget.form_field.required %}
                <div class="relative px-12 py-8 flex">
                    <button type="button"
                            class="text-primary js-clear">
                        {% trans 'Clear' %}
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    const wrapper = document.getElementById('{{ widget.attrs.id }}-wrapper');
    const valueEl = document.getElementById('{{ widget.attrs.id }}-value');
    const clearEl = wrapper.querySelector('.js-clear');

    function setLabel() {
        let labels = [];
        wrapper.querySelectorAll('input[type="checkbox"]').forEach(el => {
            if (el.checked) {
                labels.push(document.querySelector(`label[for="${el.id}"]`).innerText);
            }
        });
        valueEl.innerHTML = labels.join(',');
    }

    function clearAll() {
        wrapper.querySelectorAll('input[type="checkbox"]').forEach(el => {
            el.checked = false
        });
        setLabel();
    }

    wrapper.addEventListener('change', function () {
        setLabel();
    });
    clearEl.addEventListener('click', function () {
        clearAll();
    });
    setLabel();
</script>
{% include 'sb_admin/widgets/includes/help_text.html' %}
