{% include 'sb_admin/widgets/includes/field_label.html' %}
<div class="relative">
    {% include "sb_admin/widgets/input.html" %}
    <div class="flex-center h-40 w-40 text-grey z-1 cursor-pointer absolute top-1/2 right-10 -translate-y-1/2">
        <svg class="h-20 w-20 js-password-toggle-show">
            <use xlink:href="#Preview-open"></use>
        </svg>
        <svg style="display: none;" class="h-20 w-20 js-password-toggle-hide">
            <use xlink:href="#Preview-close"></use>
        </svg>
    </div>
</div>
{% include 'sb_admin/widgets/includes/help_text.html' %}
