{% load bookelicious_tags %}

<div class="relative">
    <div id="{{ widget.attrs.id }}-wrapper" class="tree-widget-wrapper">
        <input type="hidden" id="{{ widget.attrs.id }}" name="{{ widget.name }}"{% if widget.raw_value %}
               value="{{ widget.raw_value|get_json }}"{% endif %}>
        {% include "sb_admin/widgets/tree_base.html" with tree_additional_columns=widget.additional_columns tree_value=widget.raw_value tree_multiselect=filter_widget.multiselect tree_component_id=widget.attrs.id tree_data_url=filter_widget.to_json.autocomplete_url tree_show_checkbox=True table_wrapper_classes="max-h-432 overflow-auto custom-scrollbar" %}
    </div>
</div>
