{% extends "sb_admin/sb_admin_base.html" %}
{% load i18n static %}

{% block content %}
    {% block header %}
        <div class="py-16 md:pb-32 flex items-center max-xs:px-20 w-full max-w-1180 mx-auto">
            <a href="{% url "admin:purchase_purchase_change" purchase.id %}" class="btn p-0 w-40 mr-16">
                <svg class="w-20 h-20">
                    <use xlink:href="#Left-small"></use>
                </svg>
            </a>
            <h1 class="text-24 md:text-30 text-dark-900 font-bold font-heading line-clamp-1 first-letter:uppercase">
                {% trans "Purchase" %} #{{ purchase.purchase_number }}
            </h1>
        </div>
    {% endblock %}

    <div class="flex-grow flex flex-col w-full max-w-1180 mx-auto">
        <div class="mermaid w-full">
            {{ graph_output }}
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script>
        function dummy_callback(param){}
    </script>
    <script src="{% static 'js/mermaid.min.js' %}"></script>
    <script>
    var config = {
            mermaid:{
                startOnLoad:true,
                callback:function(id){
                    django.jQuery("#mermaidChart0").css('width', django.jQuery("#mermaidChart0").css('max-width'));
                },
            },
        };
        mermaid.initialize(config);
    </script>
{% endblock %}