{% extends 'sb_admin/actions/change_form.html' %}
{% load i18n smartshop_tags purchase_tags sb_admin_tags %}

{% block form %}
    <div class="w-full max-w-1180 mx-auto pb-16 md:pb-32 max-xs:px-20">
        <div hx-get=""
             hx-disinherit="*"
             hx-select="#purchase-actions"
             hx-target="#purchase-actions"
             hx-swap="outerHTML"
             hx-trigger="file-downloaded from:body">

            <ul id="purchase-actions" class="flex gap-8 md:gap-16 flex-wrap">
                {% block purchase_actions %}
                    {% if original.pk %}
                        <li>
                            <a href="{% sb_admin_url request_data=request_data view_id=request_data.view action='action_purchase_process_view' modifier=original.pk %}" class="btn">{% trans "Show" %} {% trans "Purchase process"|lower %}</a>
                        </li>
                        {% block re_generate_package_label %}
                            {% url 'admin:add-package-detail' purchase=original.pk as package_detail_url %}
                            {% if is_re_generate_package_label_supported %}
                                <li>
                                    <a class="btn"
                                       href="{{ package_detail_url }}"
                                            {% if is_package_data_form_supported %}
                                       hx-get="{{ package_detail_url }}"
                                       hx-target="#sb-admin-modal"
                                       data-bs-toggle="modal"
                                       data-bs-target="#sb-admin-modal"
                                            {% endif %}
                                    >
                                        {% trans "Re-generate package label" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% if is_package_data_form_supported %}
                                <li>
                                    <a class="btn"
                                       href="{{ package_detail_url }}?new_package=1"
                                       hx-get="{{ package_detail_url }}?new_package=1"
                                       hx-target="#sb-admin-modal"
                                       data-bs-toggle="modal"
                                       data-bs-target="#sb-admin-modal"
                                    >
                                        {% trans "Generate new package label" %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}
                        {% if original.package_label_url %}
                            <li>
                                <a href="{{ original.package_label_url }}"
                                   class="js-file-button btn">
                                    {% trans "Download label" %}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'admin:download_print_out' purchase=original.pk %}" target="_blank" class="js-file-button btn">
                                {% trans "Download printout" %}
                                {% if not original|is_invoicing_up_to_date:'PrintOut' %}
                                    <span class="warning-badge"
                                          title="{% trans 'Purchase data was modified. Click to generate new document.' %}">!</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin:download_invoice' purchase=original.pk %}" target="_blank"
                               class="js-file-button btn">
                                {% trans "Download invoice" %}
                                {% if not original|is_invoicing_up_to_date:'Invoice' %}
                                    <span class="warning-badge"
                                          title="{% trans 'Purchase data was modified. Click to generate new document.' %}">!</span>
                                {% endif %}
                            </a>
                        </li>
                        {% if original.payment.state == 'PaymentCanceledState' %}
                            <li>
                                <a href="{% url 'admin:download_credit_note' purchase=original.pk %}" target="_blank"
                                   class="js-file-button btn">
                                    {% trans "Download credit note" %}
                                    {% if not original|is_invoicing_up_to_date:'CreditNote' %}
                                        <span class="warning-badge"
                                              title="{% trans 'Purchase data was modified. Click to generate new document.' %}">!</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if original.payment.can_be_paid_online %}
                        {% with original.payment.service.get_provider as payment_provider %}
                            {% if payment_provider %}
                                <li>
                                    <a href="{% url 'admin:verify-payment' purchase=original.pk %}" target="_blank" class="btn">{% trans "Payment state" %}</a>
                                </li>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endblock %}
            </ul>
        </div>

        {% if not add %}
            <div class="flex">
                <ul class="purchase-process-steps mx-auto">
                    {% if not graph_context.canceled %}
                        {% for step in graph_context.ideal_path %}
                            <li
                                    class="steps__step{% if graph_context.active_node == step.get_label %} active{% endif %}">
                                <span class="label">{{ forloop.counter }}</span>
                                <p>{{ step.get_label }}</p>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="active">
                            <span class="label">1</span>
                            <p>{% trans "Canceled" %}</p>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="flex flex-wrap gap-8 md:gap-16">
                <div class="flex flex-wrap gap-8 md:gap-16 max-sm:w-full">
                    {% if user.is_superuser %}
                        {% if original.previous_delivery_state_label != None %}
                            <a class="btn btn-back"
                               href="{% url 'admin:previous-delivery' purchase=original.pk %}"
                               onclick="return confirm('
                                       {% trans "Are you sure you want to revert delivery state to: " %}{{ original.previous_delivery_state_label }}?');">
                                {% trans 'Step back' %}</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="md:ml-auto flex flex-wrap gap-8 md:gap-16 max-sm:w-full">
                    {% if not graph_context.canceled %}
                        {% url 'admin:cancel-purchase' purchase=original.pk as action_url %}
                        {% if graph_context.delivery_cancel_instance.get_comment_form %}
                            <a data-bs-toggle="modal" data-bs-target="#CANCEL"
                               class="btn btn-cancel"
                               href="{{ action_url }}">{% trans 'Cancel' %} {% trans 'Purchase' %}</a>
                        {% else %}
                            <a class="btn btn-destructive" href="{{ action_url }}"
                               onclick="return confirm('{% trans "Are you sure you want to cancel purchase?" %}');">{% trans 'Cancel' %} {% trans 'Purchase' %}</a>
                        {% endif %}
                    {% endif %}
                    {% block payment_states %}
                        {% for state, value in original.next_payment_states.items %}
                            {% if state != 'CANCEL' %}
                                {% url 'admin:payment-action' purchase=original.pk action=state as action_url %}
                                {% if value.instance.get_comment_form %}
                                    <a data-bs-toggle="modal" data-bs-target="#sb-admin-modal" hx-target="#sb-admin-modal"
                                       hx-get="{{ action_url }}"
                                       class="btn{% if state == 'ACCEPT' or state == 'PAID' or state == 'NEXT' %} btn-secondary{% endif %}"
                                       href="{{ action_url }}"
                                    >{{ value.label }}</a>
                                {% else %}
                                    <a class="btn{% if state == 'ACCEPT' or state == 'PAID' or state == 'NEXT' %} btn-secondary{% endif %}"
                                       href="{{ action_url }}"
                                       onclick="return confirm('
                                               {% trans "Are you sure you want to proceed to payment state " %}{{ value.label }}?
                                               {% if state == "ACCEPT" %}{% if original.customer.note %}{% trans "Be aware of custom note for this user: " %}{{ original.customer.note }}{% endif %}{% endif %}');"
                                    >{{ value.label }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                    {% for state, value in original.next_delivery_states.items %}
                        {% if state != 'CANCEL' %}
                            {% url 'admin:delivery-action-with-form' purchase=original.pk action=state as action_url %}
                            {% if value.instance.get_comment_form %}
                                <a data-bs-toggle="modal" data-bs-target="#sb-admin-modal" hx-target="#sb-admin-modal"
                                   hx-get="{{ action_url }}"
                                   class="btn{% if state == 'ACCEPT' or state == 'PAID' or state == 'NEXT' %} btn-primary{% endif %}"
                                   href="{{ action_url }}"
                                >{{ value.label }}</a>
                            {% else %}
                                <a class="btn{% if state == 'ACCEPT' or state == 'PAID' or state == 'NEXT' %} btn-primary{% endif %}"
                                   href="{{ action_url }}"
                                   onclick="return confirm('
                                           {% trans "Are you sure you want to proceed to delivery state " %}{{ value.label }}?
                                           {% if state == "ACCEPT" %}{% if original.customer.note %}{% trans "Be aware of custom note for this user: " %}{{ original.customer.note }}{% endif %}{% endif %}');"
                                >{{ value.label }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    {{ block.super }}
{% endblock %}
