{% extends list_base_template|default:"sb_admin/sb_admin_base.html" %}
{% load i18n admin_modify static filer_admin_tags %}

{% block breadcrumbs %}
    {% with original as instance %}
        {% include "admin/filer/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'filer/css/admin_filer.css' %}">
    {% icon_css_library %}
{% endblock %}


{% block after_field_sets %}
    {% filer_admin_context_hidden_formfields %}
{% endblock %}

{% block sidebar %}
    {% block file_sidebar %}
        {% with original.duplicates as duplicates %}
            {% if duplicates %}
                <div class="file-duplicates">
                    <h3>{% translate "Duplicates" %}</h3>
                    <ul>
                        {% for duplicate in duplicates %}
                            <li><a href="{{ duplicate.get_admin_change_url }}">{{ duplicate }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    {% endblock %}
{% endblock %}
{% block content %}<div id="content-main">
{% block object-tools %}
{% if change and not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktranslate count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}


{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
