{% if fieldset.name or fieldset.description or fieldset_context.actions or fieldset_context.collapsible %}
    <header class="{% if fieldset_context.collapsible %}!mb-0{% else %}mb-24{% endif %} flex items-center">
        {% if fieldset.name %}
            <span class="text-dark-900">{{ fieldset.name }}</span>
        {% endif %}
        {% if fieldset.description %}
            <div class="js-tooltip ml-8" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ fieldset.description|safe }}">
                <svg class="w-20 h-20">
                    <use xlink:href="#Help"></use>
                </svg>
            </div>
        {% endif %}
        {% if fieldset_context.actions or fieldset_context.collapsible %}
            <div class="ml-auto flex items-center gap-4">
                {% for action in fieldset_context.actions %}
                    {% if action.sub_actions %}
                        <div class="relative">
                            <button
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                data-bs-popper-placement="bottom-end"
                                class="{{ action.css_class|default_if_none:'' }} btn-small btn-icon">
                                {% if action.icon %}
                                    <svg class="w-16 h-16 md:mr-8">
                                        <use xlink:href="#{{ action.icon }}"></use>
                                    </svg>
                                {% endif %}
                                <span>{{ action.title }}</span>
                                <svg class="w-16 h-16 ml-4 hidden md:block">
                                    <use xlink:href="#Down"></use>
                                </svg>
                            </button>
                            <div class="dropdown-menu max-h-432">
                                <ul>
                                    {% for sub_action in action.sub_actions %}
                                        <li>
                                            {% include sub_action.template with action=sub_action action_link_mode="detail" dropdown=True extra_classes="dropdown-menu-link" %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        {% include action.template with action=action action_link_mode="detail" extra_classes="btn-small" %}
                    {% endif %}
                {% endfor %}
                {% if fieldset_context.collapsible %}
                    <button type="button"
                            class="btn btn-empty btn-only-icon collapse-btn{% if not fieldset_context.collapse_open %} collapsed{% endif %}"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ fieldset_context.collapse_id }}"
                            aria-controls="{{ fieldset_context.collapse_id }}"
                            aria-expanded="{{ fieldset_context.collapse_open|yesno:"true,false" }}">
                        <svg class="w-20 h-20">
                            <use xlink:href="#Down"></use>
                        </svg>
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </header>
{% endif %}
