{% load sb_admin_tags %}

{% block content %}
    {% if not fieldset_context.fieldset %}
        {% resolve_fieldset_context fieldset request as fieldset_context %}
    {% endif %}

    {% block header %}
        {% if not skip_header %}
            {% include "sb_admin/includes/fieldset_header.html" %}
        {% endif %}
    {% endblock %}

    {% block fieldset_body %}
        {% if fieldset_context.collapsible %}
            <div id="{{ fieldset_context.collapse_id }}" class="collapse pt-24 sbadmin-fieldset-collapse{% if fieldset_context.collapse_open %} show{% endif %}">
        {% endif %}
            {% if fieldset_context.fieldset_layout %}
                {% for layout_item in fieldset_context.fieldset_layout %}
                    {% if layout_item.region %}
                        {% include 'sb_admin/includes/dynamic_region.html' with dynamic_region=layout_item.region %}
                    {% elif layout_item.widget %}
                        {% render_widget layout_item.widget request %}
                    {% else %}
                        {% include 'sb_admin/includes/inline_fieldset_fields.html' with fieldset=layout_item.fieldset %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% include 'sb_admin/includes/inline_fieldset_fields.html' with fieldset=fieldset_context.fieldset %}
            {% endif %}
        {% if fieldset_context.collapsible %}
            </div>
        {% endif %}
    {% endblock %}

    {% block additional_fields %}

    {% endblock %}
{% endblock %}
