{% load sb_admin_tags %}

{% block content %}
    {% if not fieldset_context.fieldset %}
        {% resolve_fieldset_context fieldset request as fieldset_context %}
    {% endif %}

    {% block header %}
        {% if not skip_header %}
            {% include "sb_admin/includes/fieldset_header.html" %}
        {% endif %}
    {% endblock %}

    {% block fieldset_body %}
        {% if fieldset_context.collapsible %}
            <div id="{{ fieldset_context.collapse_id }}" class="collapse pt-24 sbadmin-fieldset-collapse{% if fieldset_context.collapse_open %} show{% endif %}">
        {% endif %}
            {% include 'sb_admin/includes/fieldset_layout.html' with fieldset_layout=fieldset_context.fieldset_layout fieldset=fieldset_context.fieldset %}
        {% if fieldset_context.collapsible %}
            </div>
        {% endif %}
    {% endblock %}

    {% block additional_fields %}

    {% endblock %}
{% endblock %}
