{% load sb_admin_tags %}

<div class="w-full">
    {% get_item readonly_base_fields field.field.name as readonly_field %}
    {% if readonly_field.field.widget.input_type == "checkbox" %}
        <div class="relative">
            <input type="checkbox" name="{{ field.field.name }}" id="id_{{ field.field.name }}" form="#" class="toggle"{% if readonly_field.value %} checked{% endif %} readonly disabled>
            <label for="id_{{ field.field.name }}"></label>
            <label for="id_{{ field.field.name }}">{{ field.field.label }}</label>
        </div>
    {% else %}
        {% if field.field.label %}
            <label class="inline-flex text-dark-900 text-14 leading-18 font-medium mb-8">{{ field.field.label }}:</label>
        {% endif %}
        <div class="text-14 w-full break-all">
            {{ field.contents }}
        </div>
    {% endif %}
</div>