{% extends 'sb_admin/inlines/table_inline.html' %}
{% load i18n paginated_inline %}

{% block card_content %}
    {{ block.super }}

    {% with inline_admin_formset.formset.page as page_obj %}
        <div class="flex items-center w-full p-16">
            <div class="max-xs:text-12"><strong>{{ page_obj.paginator.count }}</strong> {% trans 'results' %}</div>
            <div class="ml-auto">
                <div class="tabulator-paginator">

                    <{% if page_obj.has_previous %}a href="?{% modify_pagination_path request.get_full_path inline_admin_formset.formset.pagination_key page_obj.previous_page_number %}"{% else %}button type="button" disabled{% endif %} class="tabulator-page">
                        <svg class="w-20 h-20"><use xlink:href="#Left"></use></svg>
                    </{% if page_obj.has_previous %}a{% else %}button{% endif %}>

                    {% if page_obj.number|add:"-5" > 0 %}
                        <a class="tabulator-page"
                           href="?{% modify_pagination_path request.get_full_path inline_admin_formset.formset.pagination_key 0 %}">1</a>
                    {% endif %}

                    {% if page_obj.number|add:"-5" > 1 %}
                        <span>&hellip;</span>
                    {% endif %}

                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <span class="tabulator-page active">{{ page_num }}</span>
                        {% else %}
                            {% if page_num > page_obj.number|add:"-5" and page_num < page_obj.number|add:"5" %}
                                <a class="tabulator-page"
                                   href="?{% modify_pagination_path request.get_full_path inline_admin_formset.formset.pagination_key page_num %}">{{ page_num }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.number|add:"5" < page_obj.paginator.num_pages %}
                        <span class="tabulator-page">&hellip;</span>
                    {% endif %}

                    {% if page_obj.number|add:"4" < page_obj.paginator.num_pages %}
                        <a class="tabulator-page"
                           href="?{% modify_pagination_path request.get_full_path inline_admin_formset.formset.pagination_key page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}


                    <{% if page_obj.has_next %}a href="?{% modify_pagination_path request.get_full_path inline_admin_formset.formset.pagination_key page_obj.next_page_number %}"{% else %}button type="button" disabled{% endif %} class="tabulator-page">
                        <svg class="w-20 h-20"><use xlink:href="#Right"></use></svg>
                    </{% if page_obj.has_next %}a{% else %}button{% endif %}>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}