{% extends 'sb_admin/inlines/table_inline.html' %}
{% load i18n paginated_inline sb_paginated_inline %}

{% block card_content %}
    {{ block.super }}

    {% with inline_admin_formset.formset.page as page_obj %}
        <div class="flex items-center w-full p-16">
            <div class="max-xs:text-12"><strong>{{ page_obj.paginator.count }}</strong> {% trans 'results' %}</div>
            <div class="ml-auto">
                <div class="tabulator-paginator">

                    <{% if page_obj.has_previous %}a href="?{% modify_pagination_path request.get_full_path inline_admin_formset.formset.pagination_key page_obj.previous_page_number %}{% if sbadmin_inline_tab_slug %}#{{ sbadmin_inline_tab_slug }}{% endif %}"{% else %}button type="button" disabled{% endif %} class="tabulator-page">
                        <svg class="w-20 h-20"><use xlink:href="#Left"></use></svg>
                    </{% if page_obj.has_previous %}a{% else %}button{% endif %}>

                    {% tabulator_style_inline_pages page_obj as pagination_items %}
                    {% for item in pagination_items %}
                        {% if item.kind == "page" %}
                            {% if item.active %}
                                <span class="tabulator-page active">{{ item.number }}</span>
                            {% else %}
                                <a class="tabulator-page"
                                   href="?{% modify_pagination_path request.get_full_path inline_admin_formset.formset.pagination_key item.number %}{% if sbadmin_inline_tab_slug %}#{{ sbadmin_inline_tab_slug }}{% endif %}">{{ item.number }}</a>
                            {% endif %}
                        {% elif item.kind == "ellipsis" %}
                            <button type="button" class="tabulator-page" disabled><svg class="w-20 h-20 mt-8"><use xlink:href="#More"></use></svg></button>
                        {% endif %}
                    {% endfor %}

                    <{% if page_obj.has_next %}a href="?{% modify_pagination_path request.get_full_path inline_admin_formset.formset.pagination_key page_obj.next_page_number %}{% if sbadmin_inline_tab_slug %}#{{ sbadmin_inline_tab_slug }}{% endif %}"{% else %}button type="button" disabled{% endif %} class="tabulator-page">
                        <svg class="w-20 h-20"><use xlink:href="#Right"></use></svg>
                    </{% if page_obj.has_next %}a{% else %}button{% endif %}>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}
